<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufmg.coltec.trabalhofinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/pokeball_icon"
        android:roundIcon="@mipmap/pokeball_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrabalhoFinal">
        <activity
            android:name=".activities.PokemonListActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.PokemonDetailsActivity"
            android:parentActivityName=".activities.PokemonListActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>